.infoAuthor{
    box-sizing: border-box;
    background: $second;
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 31.25px;
    justify-content: space-around;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    @media (min-width:1024px) {
        padding: 21px 34px 37px 31px;
        margin-bottom: 0;
        position: fixed;
        font-size: 24px;
        bottom: 0;
        right: 36px;
        max-width: 376px;
    }
}
