.listPhoto{
    display: flex;
    flex-wrap: wrap;
    @media (max-width:500px) {
        justify-content: center;
    }
    // justify-content: space-between;
    color: $first;
    &__card{
        display: flex;
        margin-bottom: 30px;
        max-width: 100%;
        justify-content: flex-start;
        box-sizing: border-box;
        @media (max-width:500px) {
            flex-basis:100%;
            justify-content: center;
        }
        @media (min-width:501px) and (max-width:1023px) {
            flex-basis:calc(100% / 2);
            &:nth-of-type(2n){
                justify-content: flex-end;
            }
        }
        @media (min-width:1024px) {
            flex-basis:calc(100% / 3);
            &:nth-of-type(3n+2){
                justify-content: center;
            }
            &:nth-of-type(3n+3){
                justify-content: flex-end;
            }
        }
    }

    &__container{
        max-width:100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__img{
        cursor: pointer;
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__content{
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__title{
        width: 50%;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        @media (min-width:1024px)  {
            font-size: 24px;
            line-height: 31px;
        }
    }
    &__info{
        display: flex;
    }
    &__price{
        margin-right: 20px;
    }
    &__like span{
        cursor: pointer;
        margin-right: 5px;
    }

    &__imgBox{
        border-radius: 5px;
        overflow: hidden;
    }
    @media (max-width:500px) {
        &__imgBox{
            height: 190px;
        }
        &__title{
            font-size: 14px;
        }
        &__info {
            font-size: 12px;
        }
    }
    @media (min-width:501px) {
        $width:calc((100vw - 20px * 3) / 2);
        &__imgBox,&__container{
            width:$width;
        }
        &__imgBox{
            height: calc((100vw - 20px *3 ) / 2);
        }
    }

    @media (min-width:768px)  {
        $width: calc((100vw - 100px  * 3 ) / 2);
        &__imgBox,&__container{
            width:$width;
        }
        &__imgBox{
            height: calc((100vw - 100px * 3 ) / 2);
        }
    }

    @media (min-width:1024px)  {
        $width:calc((100vw - 80px  * 4 ) / 3);
        &__imgBox,&__container{
            width:$width;
        }
        &__imgBox{
            height: calc((100vw - 80px * 4 ) / 3);
        }
    }

}
